[submodule "modules/svg2gcode"]
	path = etch-a-sketch-server/modules/svg2gcode
	url = https://github.com/Every-Flavor-Robotics/svg2gcode.git
[submodule "modules/gcode-optimizer"]
	path = etch-a-sketch-server/modules/gcode-optimizer
	url = https://github.com/Every-Flavor-Robotics/gcode-optimizer.git
[submodule "modules/informative-drawings"]
	path = etch-a-sketch-server/modules/informative-drawings
	url = https://github.com/Every-Flavor-Robotics/informative-drawings.git
